@model HotelSystem.Models.ReservationViewModel

@{
    ViewData["Title"] = "Rezerwacja pokoju";
}

<h2>Rezerwacja pokoju na dzień: @Model.SelectedDate.ToShortDateString()</h2>

<form method="post" action="@Url.Action("ConfirmReservation", "Reservation")">
    
    <div>
        <label>Wybierz datę rozpoczęcia:</label>
        <input type="date" name="startDate" value="@Model.SelectedDate.ToString("yyyy-MM-dd")" readonly />
    </div>

    
    <div>
        <label>Wybierz datę zakończenia:</label>
        <input type="date" id="endDate" name="endDate" value="@Model.SelectedDate.ToString("yyyy-MM-dd")" readonly />
        <button type="button" id="incrementEndDate" class="btn btn-primary">+1 dzień</button>
    </div>

    
    <div>
        <label>Wybierz pokój:</label>
        <select name="roomId">
            @foreach (var room in Model.AvailableRooms)
            {
                <option value="@room.Id">@room.Name</option>
            }
        </select>
    </div>

    <button type="submit">Potwierdź rezerwację</button>
</form>


<script>
    
    var startDate = new Date('@Model.SelectedDate.ToString("yyyy-MM-dd")');
    var endDateInput = document.getElementById('endDate');
    var incrementButton = document.getElementById('incrementEndDate');

   
    function incrementEndDate() {
        
        startDate.setDate(startDate.getDate() + 1);
        
        endDateInput.value = startDate.toISOString().split('T')[0];
    }

    
    incrementButton.addEventListener('click', incrementEndDate);
</script>
